# Break statement - Used to break out of the for loop once the required condition is met

In [1]:
for letter in 'python':
    if letter == 'o':
        
        break
    print(letter)

p
y
t
h

In [2]:
for letter in 'python':
    print(letter)
    
    if letter == 'o':
        break

p
y
t
h
o

In [3]:
for char in 'icecream':
    if char == 'c':
        
        print('The letter %s was found in the string' % char)
        break
        
else:
    print('The letter %s does not exist in the string' % char)

The letter c was found in the string

In [4]:
for char in 'snow':
    if char == 'c':
        
        print('The letter %s was found in the string' % char)
        break
        
else:
    print('The letter %s does not exist in the string' % char)

The letter w does not exist in the string

In [5]:
for num in [3,11,22,33,90]:
    print(num)
    
    if (num == 22):
        print('The number %d has been found' % num)
        print('Terminating the loop......')
        
        break

3
11
22
The number 22 has been found
Terminating the loop......

In [6]:
for i in range(7):
    
    if i == 4:
        break
        
    print(i)

0
1
2
3

In [7]:
for i in range(1,10):
    
    if i >=5:
        break
        
    print(i, "is less than 5")

1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5

In [8]:
my_list = range(10)

for num in my_list:
    if num ** 2 > 20:
        
        break
        
    print(num, 'square', num**2 )

0 square 0
1 square 1
2 square 4
3 square 9
4 square 16